<form [formGroup]="myform" novalidate>
  
  <div class="form-group">
      <label for="exampleInputPassword1">UserName</label>
      <input type="text" class="form-control" formControlName="userName">
      <div class="alert alert-danger" *ngIf="myform.controls.userName.invalid &&
      (myform.controls.userName.touched || myform.controls.userName.dirty)">
      <span>UserName required</span>
      </div>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" [(ngModel)]="email" (blur)="testmail()"> 
    <div class="alert alert-danger" *ngIf="myform.controls.email.invalid &&
    (myform.controls.email.touched || myform.controls.email.dirty)">
    <span>We'll never share your email with anyone else.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div class="alert alert-danger" *ngIf="myform.controls.password.invalid &&
      (myform.controls.password.touched || myform.controls.password.dirty)">
      <span>password incorrect</span>
    </div>

    <div class="alert alert-success" *ngIf="myform.controls.password.valid">
        <span>password correct</span>
    </div>
  </div>

  <button type="submit" [disabled]="myform.invalid" (click)="signup()" class="btn btn-primary">Submit</button>
</form>

<h3>@Input : </h3> {{username}}